// table {
//   width: 100%;
// }
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
th{
  padding: 20px !important;
}
 td {
  padding: 20px !important;
}

mat-form-field {
  width: 40%;
}

// .text-right {
//   text-align: right !important;
// }

