@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
.example-custom-date-class {
    background: orange;
    border-radius: 100%;
  }



.margin-block{
   
    margin: 5px 15px ;
}
.space-block{
  margin-bottom: 12px;
}